*{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grafik {
  max-height:600px;
}

.footer{
  margin-top: 30px;
  text-align: center;
  background-color:black;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px #666666;
  clear: both;
}

article {
  width: 96%;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px #666666;
}

.sosmed-link img:hover{
  width: 10%;
}

.sosmed{
  width: 20%;
  padding: 10px;
  object-position: center;
  object-fit: cover;
}